
body {
  text-align: center;
  color: rgba(255, 250, 250, 0.8);
  font-family: "Roboto", monospace;
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
  background-blend-mode: color-dodge;
  color: white;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
  color: white;
}

/* Page Backgrounds */
#homepage{
  background: url("../img/homepage.gif") no-repeat center center fixed;
  background-size: cover;
}

#tictactoe{
  background: url("../img/tictactoe.gif") no-repeat center center fixed;
  background-size: cover;
}

#checkers{
  background: url("../img/checkers.gif") no-repeat center center fixed;
  background-size: cover;
}

#brickbreaker{
  background: url("../img/brickbreaker.gif") no-repeat center center fixed;
  background-size: cover;
}

/* On Each Page */

.nav ul {
  list-style: none;
  background: black;
  text-align: center;
  padding: 0: margin:0;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 25px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 450px;
}

.nav a:hover {
  background: #333333;
  transition: 0.4s;
}

#title {
  background-color: black;
  border: 5px solid black;
  color: white;
  line-height: 55px;
  text-align: center;
  width: auto;
}

/* Homepage Css */

.introcontainer{
  background-color: rgba(0, 0, 0, 0.45);
  margin-top: 1%;
  padding-bottom: 2%;
  border: 5px solid black;
  color: white;
  line-height: 55px;
  text-align: center;
  width: auto;
}

#introtext{
    margin: 0 auto;
    font-family: "Major Mono Display", monospace;
    font-size: 30px;
    margin: 2%;
    background-blend-mode: color-dodge;
    color: white;
}

/* TIC-TAC-TOE Game Page */

#subtitle {
  background-color: black;
  border: 5px solid black;
  color: white;
  font-size: 25px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

.endgame{
  padding-top: 1%;
  text-align: center;
}

.container {
  display: flex;                /* set our display property to use flex-box */
  justify-content: center;      /* center container horizontally */
  align-items: center;          /* center content vertically */
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;       /* align children in columns instead of rows */
}

.wrap {
  flex-wrap: wrap;              /* tells container to drop down once it reaches max-width */
  height: 456px;
  width: 456px;
}


.cell {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.45);
}


.cell:hover {
  background-color: rgba(105, 105, 105, 0.8);
  cursor: pointer;
}


#reset-button {
  background-color: black;
  border: 5px solid black;
  color: white;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
  font-family: "Roboto", monospace;
}


#reset-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* BRICK BREAKER GAME */
#canvas {
    padding-bottom: 1%;
    display: block;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(200, 0, 0);
}

/* CHECKERS GAME */

#checkers , #htmlcheckers {
		transition: 1s ease-in-out;
		width: 100%;
		height : 100%;
		margin : 0 0;
		padding: 0  0;
}
.square{
	float: left;
	width: 80px;
	height: 80px;
}

.white_square{
	background-color:rgba(0, 0, 0, 0.7);
}
.black_square{
	background-color :rgba(255, 255, 255, 0.5);
}
.clear_float{
	clear: both;
}

.table{
	position: relative;
	width: 640px;
	height: 640px;
	margin: 0 auto;
  border: solid white 4px;
}
.score{
	background-color: rgba(255, 255, 255, 0.7);
	color: white;
	display: none;
	font-size: 45px;
	font-weight: 900;
	height:150px;
	border-radius: 10%;
	left: 0px;
	letter-spacing: 1px;
	margin : 0 auto;
	padding-top: 60px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 15%;
	width: 200px;
	z-index: 8;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	 -webkit-transition: 5s ease-in-out;
	-moz-transition: 5s ease-in-out;
  -o-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
}

.checker{
	top:10px;
	left:10px;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid white;
	cursor: pointer;

}

.white_checker{
	background: #CC0000;
 -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.black_checker{
	background: #00001F;
 -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.black_background{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	z-index:  7;
	display: none;
}

@media only screen and (max-width : 640px){
	.table{
		width: 400px;
		height: 400px;
	}

	.square{
		width: 50px;
		height: 50px;
	}

	.checker{
		width: 32px;
		height: 32px;
	}
}
