
body {
  text-align: center;
  color: rgba(255, 250, 250, 0.8);
  font-family: "Roboto", monospace;
}

#homepage{
  background: url("../img/cafe.gif") no-repeat center center fixed;
  background-size: cover;
}

#tictactoe{
  background: url("../img/lofiback.gif") no-repeat center center fixed;
  background-size: cover;
}


h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
  background-blend-mode: color-dodge;
  color: white;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
  color: white;
}

.header

#introgame {
  background-color: black;
  border: 5px solid black;
  color: white;
  font-size: 25px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

.introcontainer{
  background-color: rgba(0, 0, 0, 0.45);
  margin-top: 1%;
  padding-bottom: 2%;
  border: 5px solid black;
  color: white;
  line-height: 55px;
  text-align: center;
  width: auto;
}

#introtext{
    margin: 0 auto;
    font-family: "Major Mono Display", monospace;
    font-size: 30px;
    margin: 2%;
    background-blend-mode: color-dodge;
    color: white;
}

#title {
  background-color: black;
  border: 5px solid black;
  color: white;
  line-height: 55px;
  text-align: center;
  width: auto;
}


#subtitle {
  background-color: black;
  border: 5px solid black;
  color: white;
  font-size: 25px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

.endgame{
  padding-top: 1%;
  text-align: center;
}

.container {
  display: flex;                /* set our display property to use flex-box */
  justify-content: center;      /* center container horizontally */
  align-items: center;          /* center content vertically */
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;       /* align children in columns instead of rows */
}

.wrap {
  flex-wrap: wrap;              /* tells container to drop down once it reaches max-width */
  height: 456px;
  width: 456px;
}


.cell {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.45);
}


.cell:hover {
  background-color: rgba(105, 105, 105, 0.8);
  cursor: pointer;
}


#reset-button {
  background-color: black;
  border: 5px solid black;
  color: white;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
  font-family: "Roboto", monospace;
}


#reset-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
